[Desktop Entry]
Name=Medusa
Comment=Herramienta de control de puestos
Exec=gksudo mdserver
Icon=/usr/share/pixmaps/medusa-server.png
Terminal=false
Type=Application
Categories=Application;System;Settings
Encoding=UTF-8
