Source: gbiblio-profiles
Section: misc
Priority: standard
Maintainer: Javier Hernández Antúnez <jhernandez@emergya.es>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: gbiblio-profile-catalog
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Perfil del usuario catalogo
 Configuracion del perfil para el usuario catalogo

Package: gbiblio-profile-librarian
Architecture: all
Depends: ${shlibs:Depends}, thunderbird, seamonkey-browser, medusa-server
Description: Perfil del usuario bibliotecario
 Configuracion del perfil para el usuario bibliotecario

Package: gbiblio-profile-user
Architecture: all
Depends: ${shlibs:Depends}, medusa-client
Description: Perfil del usuario usuario
 Configuracion del perfil para el usuario usuario
