Source: medusa-client
Section: misc 
Priority: optional
Maintainer: Junta de andalucia <packmaster@guadalinex.org>
Build-Depends: qt3-apps-dev, qt3-designer, qt3-dev-tools, libx11-dev , libxml2-dev, libxpm-dev, debhelper
Standards-Version: 3.7.2

Package: medusa-client
Architecture: any
Depends: ruby, libnotify-bin
Description: medusa for clients
 client size of medusa
