[Desktop Entry]
Encoding=UTF-8
Name=Hoja de cálculo (Gnumeric)
Name[az]=Gnumeric Hesab Cədvəli
Name[bg]=Електронна таблица Gnumeric
Name[ca]=Full de càlcul Gnumeric
Name[cs]=Tabulkový kalkulátor Gnumeric
Name[de]=Gnumeric Tabellenkalkulation
Name[dz]=ཇི་ནུ་མི་རིཀ་ ཤོག་ཁྲམ་
Name[el]=Φύλλο εργασίας Gnumeric
Name[en_CA]=Gnumeric Spreadsheet
Name[en_GB]=Gnumeric Spreadsheet
Name[es]=Hoja de cálculo (Gnumeric)
Name[et]=Gnumericu tabelarvutus
Name[fi]=Gnumeric-taulukkolaskenta
Name[fr]=Tableur Gnumeric
Name[ga]=Scarbhileog Gnumeric
Name[he]=גיליון אלקטרוני של גנומריק
Name[hr]=Gnumeric proračunska tablica
Name[hu]=Gnumeric táblázatkezelő
Name[it]=Gnumeric - Foglio di calcolo
Name[ja]=Gnumeric スプレッドシート
Name[ko]=Gnumeric 스프레드시트
Name[lt]=Gnumeric skaičialentė
Name[lv]=Gnumeric Izklājlapa
Name[mk]=Gnumeric табеларни пресметки
Name[ml]=ജിന്യ‌ൂമറിക് വിസ്തൃതപത്രിക
Name[mr]=जीन्यूमेरिक पान
Name[ms]=Hamparan Gnumeric
Name[nb]=Gnumeric regneark
Name[ne]=जीन्युमेरिक स्प्रेडसिट
Name[nl]=Gnumeric rekenblad
Name[nn]=Gnumeric rekneark
Name[pl]=Arkusz Gnumerica
Name[pt]=Folha de Cálculo Gnumeric
Name[pt_BR]=Planilha Eletrônica Gnumeric
Name[ru]=Электронная таблица Gnumeric
Name[sk]=Zošit Gnumeric
Name[sr]=Гнумерик табеларни прорачун
Name[sr@Latn]=Gnumerik tabelarni proračun
Name[sv]=Kalkylprogrammet Gnumeric
Name[te]=జి పూర్ణసంఖ్య స్ర్పెడ్ షీట్
Name[tr]=Gnumeric Çizelgesi
Name[uk]=Електронна таблиця Gnumeric
Name[vi]=Bảng tính Gnumeric
Name[zh_CN]=Gnumeric 电子表格
Name[zh_TW]=Gnumeric 試算表
GenericName=Spreadsheet
GenericName[bg]=Електронна таблица
GenericName[ca]=Full de càlcul
GenericName[cs]=Tabulkový kalkulátor
GenericName[de]=Tabellenkalkulation
GenericName[dz]=ཤོག་ཁྲམ་
GenericName[el]=Λογιστικό φύλλο
GenericName[en_CA]=Spreadsheet
GenericName[en_GB]=Spreadsheet
GenericName[es]=Hoja de cálculo
GenericName[et]=Tabelarvutus
GenericName[fi]=Taulukkolaskenta
GenericName[fr]=Tableur
GenericName[ga]=Scarbhileog
GenericName[hr]=Proračunska tablica
GenericName[hu]=Táblázatkezelő
GenericName[it]=Foglio di calcolo
GenericName[ja]=スプレッドシート
GenericName[ko]=스프레드시트
GenericName[lt]=Skaičialentė
GenericName[mk]=Табеларни пресметки
GenericName[nb]=Regneark
GenericName[ne]=स्प्रेडसिट
GenericName[nl]=Rekenblad
GenericName[nn]=Rekneark
GenericName[oc]=Fuèlha de calcul
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt]=Folha de Cálculo
GenericName[pt_BR]=Planilha Eletrônica
GenericName[ru]=Электронная таблица
GenericName[rw]=Urupapurorusesuye
GenericName[sr]=Табеларни прорачун
GenericName[sr@Latn]=Tabelarni proračun
GenericName[sv]=Kalkylprogram
GenericName[te]=స్ర్పెడ్ షీట్
GenericName[tr]=Çizelge
GenericName[vi]=Bảng tính
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
Comment=Calculation, Analysis, and Visualization of Information
Comment[ca]=Càlcul, anàlisi, i visualització d'informació
Comment[dz]=བརྡ་དོན་གྱི་་རྩིས་ལས་ དཔྱད་ཞིབ་ དང་འཆར་སྣང་
Comment[el]=Υπολογισμός, Ανάλυση και Εμφάνιση της Πληροφορίας
Comment[en_GB]=Calculation, Analysis, and Visualisation of Information
Comment[es]=Cálculo, análisis, y visualización de información
Comment[et]=Arvutamine, analüüs ja teabe visualiseerimine
Comment[fi]=Tiedon laskenta, analyysi ja visualisointi
Comment[fr]=Calculs, analyses et visualisation d'informations
Comment[hu]=Információk számítása, elemzése és megjelenítése
Comment[lt]=Skaičiavimų, analizės bei atvaizdavimo informacija
Comment[mk]=Пресметување, анализа и визуелизација на информациите
Comment[nb]=Kalkulering, analyse og visualisering av informasjon
Comment[ne]=सूचनाको गणना, विश्लेषण, र दृष्टिकरण
Comment[ru]=Вычисление, анализ и визуализация информации
Comment[sv]=Beräkning, analys och visualisering av information
Comment[vi]=Tính, phân tích và cách thức hiển thị thông tin
Exec=gnumeric %U
Icon=gnome-gnumeric.png
Terminal=false
Type=Application
Categories=Application;Office;Spreadsheet;Science;Math;GNOME;GTK;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Gnumeric
X-GNOME-Bugzilla-Version=1.8.2
X-GNOME-Bugzilla-Component=General
DocPath=gnumeric
MimeType=application/x-gnumeric;application/vnd.ms-excel;application/excel;application/msexcel;application/x-excel;application/x-ms-excel;application/x-msexcel;application/x-xls;application/xls;application/x-dos_ms_excel;zz-application/zz-winassoc-xls;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/csv;application/tab-separated-values;text/comma-separated-values;text/csv;text/spreadsheet;text/tab-separated-values;text/x-comma-separated-values;application/vnd.lotus-1-2-3;application/x-123;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/x-applix-spreadsheet;application/x-mps;application/x-oleo;application/x-planperfect;application/x-quattropro;application/x-sc;application/x-sylk;application/x-xbase;
