[Desktop Entry]
Name=Editor de vídeo (Kino)
GenericName=Video Editor
GenericName[ca]=Editor de vídeo
GenericName[cs]=Video editor
GenericName[da]=Videoredigering
GenericName[de]=Videoschnittprogramm
GenericName[el]=Επεξεργαστής Βίντεο
GenericName[es]=Editor de vídeo
GenericName[eu]=bideo-editorea
GenericName[fr]=Montage vidéo
GenericName[hu]=Videoszerkesztő
GenericName[it]=Editor Video
GenericName[sv]=Videoredigering
GenericName[nb]=Videoredigering
GenericName[no]=Videoredigerer
GenericName[ru]=Видеоредактор
Comment=Edit DV video
Comment[ca]=Edita vídeos DV
Comment[cs]=Nástroj pro úpravy DV videa
Comment[da]=Rediger DV video
Comment[de]=Bearbeitet Digital-Videos
Comment[el]=Επεξεργαστής Βίντεο
Comment[es]=Editar vídeos DV
Comment[eu]=Editatu DV bideoak
Comment[fr]=Montage vidéo DV
Comment[hu]=DV videók szerkesztése
Comment[it]=Montaggio Video DV non lineare
Comment[sv]=Redigera DV video
Comment[nb]=Redigering av DV video
Comment[no]=Redigere DV video
Comment[ru]=Редактирование DV видео
Encoding=UTF-8
TryExec=kino
Exec=kino %F
Icon=kino.png
Terminal=false
StartupNotify=true
Type=Application
Categories=AudioVideo;AudioVideoEditing;
MimeType=video/dv;application/smil
