[Desktop Entry]
Encoding=UTF-8
Name=Sessions
Name[af]=Sessies
Name[am]=ክፍለ ጊዜዎች
Name[ar]=الجلسات
Name[az]=İclaslar
Name[be]=Сэансы
Name[be@latin]=Sesii
Name[bg]=Сесии
Name[bn]=সেশন সমূহ
Name[bn_IN]=সেশন
Name[bs]=Sesije
Name[ca]=Sessions
Name[cs]=Sezení
Name[cy]=Sesiynau
Name[da]=Sessioner
Name[de]=Sitzungen
Name[dz]=ལཱ་ཡུན་ཚུ།
Name[el]=Συνεδρίες
Name[en_CA]=Sessions
Name[en_GB]=Sessions
Name[eo]=Sesioj
Name[es]=Sesiones
Name[et]=Seansid
Name[eu]=Saioak
Name[fa]=نشست‌ها
Name[fi]=Istunnot
Name[fr]=Sessions
Name[fur]=Sessions
Name[ga]=Seisiúin
Name[gl]=Sesións
Name[gu]=સત્રો
Name[he]=תצורות הפעלה
Name[hi]=सत्रें
Name[hr]=Sesije
Name[hu]=Munkamenetek
Name[hy]=Սեանսներ կամ ենթահամակարգեր
Name[id]=Sesi
Name[is]=Setur
Name[it]=Sessioni
Name[ja]=セッション
Name[ka]=სესიები
Name[kn]=ಅಧಿವೇಶನಗಳು
Name[ko]=세션
Name[ku]=Danişîn
Name[lt]=Seansai
Name[lv]=Sesijas
Name[mg]=Session
Name[mi]=Ngā Wāhanga
Name[mk]=Сесии
Name[ml]=സെഷനുകള്‍
Name[mn]=Суултууд
Name[mr]=सत्र
Name[ms]=Sesi
Name[nb]=Sesjoner
Name[ne]=सत्र
Name[nl]=Sessies
Name[nn]=Økter
Name[nso]=Mananeo
Name[oc]=Sessions
Name[or]=ଅଧିବେଶନ ମାନ
Name[pa]=ਸ਼ੈਸ਼ਨ
Name[pl]=Sesje
Name[pt]=Sessões
Name[pt_BR]=Sessões
Name[ro]=Sesiuni
Name[ru]=Сеансы
Name[si]=සැසියන්
Name[sk]=Relácie
Name[sl]=Seje
Name[sq]=Seanca
Name[sr]=Сесије
Name[sr@Latn]=Sesije
Name[sv]=Sessioner
Name[ta]=அமர்வுகள்
Name[te]=సమకూర్పులు
Name[th]=วาระ
Name[tk]=Oturşuklar
Name[tr]=Oturumlar
Name[uk]=Сеанси
Name[vi]=Phiên chạy
Name[wa]=Sessions
Name[xh]=Iiseshoni
Name[zh_CN]=会话
Name[zh_HK]=作業階段
Name[zh_TW]=作業階段
Name[zu]=Iziqephu
Comment=Configure your sessions
Comment[af]=Stel jou sessies op
Comment[am]=ክፍለ ጊዜዎትን ያስተካክሉ
Comment[ar]=اضبط جلساتك
Comment[az]=İclaslarınızı quraşdırın
Comment[be]=Наладка сэансаў
Comment[be@latin]=Kanfihuruj svaje sesii
Comment[bg]=Настройки на сесиите
Comment[bn]=আপনার সেশন কনফিগার করুন
Comment[bn_IN]=আপনার সেশন কনফিগার করুন
Comment[bs]=Konfogiriši svoje sesije
Comment[ca]=Configureu les vostres sessions
Comment[cs]=Nastavení vašich sezení
Comment[cy]=Ffurfweddu eich sesiynau
Comment[da]=Konfigurér dine sessioner
Comment[de]=Ihre Sitzungen konfigurieren
Comment[dz]=ཁྱོན་རའི་ལཱ་ཡུན་ རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση των συνεδριών σας
Comment[en_CA]=Configure your sessions
Comment[en_GB]=Configure your sessions
Comment[eo]=Agordu viajn sesiojn
Comment[es]=Configure sus sesiones
Comment[et]=Seansside sätete määramine
Comment[eu]=Konfiguratu zure saioak
Comment[fa]=نشست‌هایتان را پیکربندی کنید
Comment[fi]=Muuta istuntojen asetuksia
Comment[fr]=Configurer vos sessions
Comment[fur]=Configure lis sessions
Comment[ga]=Cumraigh do sheisiúin
Comment[gl]=Configurar as súas sesións
Comment[gu]=તમારા સત્રને રુપરેખાંકિત કરો
Comment[he]=הגדר את תצורות ההפעלה שלך
Comment[hi]=अपने सत्र काफिगर करें
Comment[hr]=Podešavanje sesije
Comment[hu]=Munkamenet beállítása
Comment[hy]=Ձեր սեանսի կոնֆիգուրացիաները կարգավորել
Comment[id]=Konfigurasikan sesi
Comment[is]=Stilla setur
Comment[it]=Configura le sessioni
Comment[ja]=お使いのセッションを編集します
Comment[ka]=საკუთარი სესიის კონფიგურირება
Comment[ko]=세션 설정
Comment[ku]=Danişînên xwe veava bike.
Comment[lt]=Konfigūruoti savo seansus
Comment[lv]=Konfigurē savas sesijas
Comment[mg]=Mikirakira ny sessionao
Comment[mk]=Конфигурирај ги твоите сесии
Comment[ml]=നിങ്ങളുടെ സെഷനുകള്‍ ക്രമീകരിക്കുക
Comment[mn]=Суултаа тохируулах
Comment[mr]=तुमचे सत्र संकलीत करा
Comment[ms]=Konfigurasi sesi anda
Comment[nb]=Konfigurer dine sesjoner
Comment[ne]=तपाईँको सत्र कन्फिगर गर्नुहोस्
Comment[nl]=Configureer uw sessies
Comment[nn]=Set opp øktene dine
Comment[nso]=Fetola sebopego sa mananeo a gago
Comment[oc]=Configurar vòstras sesilhas
Comment[or]=ଆପଣଙ୍କର ଅଧିବେଶନକୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਸ਼ੈਸ਼ਨ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguracja sesji użytkownika
Comment[pt]=Configurar as suas sessões
Comment[pt_BR]=Configure suas sessões
Comment[ro]=Configuraţi sesiunile proprii
Comment[ru]=Настройка сеансов работы
Comment[si]=ඔබගේ සැසියන් සුසර කරන්න
Comment[sk]=Nastavenie vašich relácií
Comment[sl]=Nastavite sejo
Comment[sq]=Konfiguro seancën tënde
Comment[sr]=Подесите ваше сесије
Comment[sr@Latn]=Podesite vaše sesije
Comment[sv]=Konfigurera dina sessioner
Comment[ta]=உங்கள் அமர்வை வடிவமைக்கவும்
Comment[te]=మీ సమకూర్పుల రూపకరణ చేయు
Comment[th]=ตั้งค่าสำหรับวาระของคุณ
Comment[tr]=Oturumlarınızı yapılandırın
Comment[uk]=Налаштовування сеансів
Comment[vi]=Cấu hình các phiên chạy của bạn
Comment[wa]=Apontyî vos sessions
Comment[xh]=Misela iiseshoni zakho
Comment[zh_CN]=配置对话
Comment[zh_HK]=設定作業階段
Comment[zh_TW]=設定作業階段
Comment[zu]=Shintsha isimo seziqephu zakho
Exec=gnome-session-properties
Icon=session-properties
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Settings;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-session
X-GNOME-Bugzilla-Component=gnome-session
X-GNOME-Bugzilla-Version=2.22.1.1
X-Ubuntu-Gettext-Domain=gnome-session-2.0
