Source: gbiblio-artwork
Section: utils
Priority: optional
Maintainer: Carlos Parra Camargo <cparra@emergya.es> 
Standards-Version: 3.8.0

Package: gbiblio-artwork
Architecture: any
Conflicts: guadalinex-artwork
Description: Guadalinex Bibliotecas V5 Artwork package 
 This package includes artwork of the Guadalinex Bibliotecas V5 distribution.
