Package: gbiblio-v5-servidor-actualizacion
Version: 0.3
Architecture: i386
Maintainer: CAU Bibliotecas <cau.bibliotecas.ccul@juntadeandalucia.es>
Installed-Size: 88
Depends: brscan (>= 0.2.4), firefox-2 (>= 1:2.0.0.14+2nobinonly-0ubuntu1biblio1), firefox-2-gnome-support (>= 1:2.0.0.14+2nobinonly-0ubuntu1biblio1), gstreamer0.10-ffmpeg, gstreamer0.10-plugins-bad, gstreamer0.10-plugins-bad-multiverse, iptraf, language-support-es, medusa-server (>= 1.22), mozilla-firefox-locale-es-es, nmap, slocate, strace, telnet
Section: admin
Priority: optional
Description: Paquete de actualizacion de Guadalinex Bibliotecas v5
 Mantiene actualizado los sistemas de tipo gbiblio-v5-servidor-actualizacion.
