[Desktop Entry]
Categories=GNOME;GTK;System;Settings;X-GNOME-NetworkSettings;
Encoding=UTF-8
Exec=gksudo "/usr/sbin/wicd-client --no-tray"
GenericName=Network Manager
Icon=preferences-system-network
Icon[en_US]=preferences-system-network
Name=Configuracion de Red
Name[en_US]=Configuracion de Red
Terminal=false
Type=Application
Version=1.0
