#!/usr/bin/make -f

build:
#       debconf-updatepo
clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install skel/usr/share/gbiblio-v5-cliente-actualizacion/skel/etc/apt/sources.list usr/share/gbiblio-v5-cliente-actualizacion/skel/etc/apt
	dh_install skel/usr/share/gbiblio-v5-cliente-actualizacion/skel/usr/share/gbiblio-v5-cliente-actualizacion/bin/vacio usr/share/gbiblio-v5-cliente-actualizacion/skel/usr/share/gbiblio-v5-cliente-actualizacion/bin
	dh_install skel/usr/share/gbiblio-v5-cliente-actualizacion/skel/usr/share/gbiblio-net-config/bin/update-net-config usr/share/gbiblio-v5-cliente-actualizacion/skel/usr/share/gbiblio-net-config/bin

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installchangelogs
	dh_installdirs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
