Source: gbiblio-stats
Section: metapackages
Priority: standard
Maintainer: David Teyssiere Rubio <dteyssiere@emergya.es>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: gbiblio-stats
Architecture: any
Description: Guadalinex Bibliotecas V5 stats package
 This package provides Guadalinex Bibliotecas V5 stats recolection
