Source: medusa-server 
Section: misc 
Priority: optional
Maintainer: Junta de andalucia <packmaster@guadalinex.org>
Build-Depends: qt3-apps-dev, qt3-designer, qt3-dev-tools, g++ (>= 4.1), debhelper
Standards-Version: 3.7.2

Package: medusa-server
Architecture: any
Description: medusa for servers
 control client stations using medusa
